.main__content.main__abono {
    min-width: 700px;
}
.section--top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cliente__card--header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.cliente__card--content {
    margin: 32px 0;
}

.cliente__card--monto {
    font-size: var(--xl);
    font-weight: bold;
}

.cliente__card--monto {
    color: var(--ligth-green);
}

.cliente__facturas-list {
    list-style: none;
}

.cliente__facturas-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    font-size: var(--sm);
}

.cliente__table-container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cliente__table-container footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text--red {
    color: var(--danger-red);
}

.text--green {
    color: var(--ligth-green);
}

.form__span {
    font-size: var(--sm);
    color: var(--light-gray);
}

.abono__header {
    margin-bottom: 32px;
}

.abono__total {
    margin-top: 60px;
}

.abono__confirmacion {
    margin: 100px auto;
    text-align: center;
    font-size: var(--md);
}

.abono__confirmacion p {
    margin: 24px;
}